process {
    withName: 'FASTQC' {
        cpus   = { params.fastqc_cpus }
        memory = { params.fastqc_mem }
    }
    withName: 'FASTP' {
        cpus   = { params.fastp_cpus }
        memory = { params.fastp_mem }
    }
    withName: 'BWA_ALIGN' {
        cpus   = { params.bwa_cpus }
        memory = { params.bwa_mem }
    }
    withName: 'SORT_BAM' {
        cpus   = { params.sort_cpus }
        memory = { params.sort_mem }
    }
    withName: 'MARK_DUPLICATES' {
        cpus   = { params.markdup_cpus }
        memory = { params.markdup_mem }
    }
    withName: 'INDEX_BAM' {
        cpus   = { params.index_cpus }
        memory = { '4 GB' }
    }
    withName: 'MACS2' {
        cpus   = { params.macs2_cpus }
        memory = { params.macs2_mem }
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

