process {
    withName: FASTQC {
        cpus = 2
        memory = '4 GB'
    }
    withName: FASTP {
        cpus = 4
        memory = '8 GB'
    }
    withName: STAR_INDEX {
        cpus = 8
        memory = '100 GB'
    }
    withName: GPU_FQ2BAM_RNA {
        cpus = 8
        memory = '100 GB'
    }
    withName: FEATURE_COUNTS {
        cpus = 2
        memory = '4 GB'
    }
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '--gpus all -u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = '--nv'
    }
}
