process {
    withName: FASTQC {
        cpus = 2
        memory = '4 GB'
    }
    withName: STAR_INDEX {
        cpus = 8
        memory = '40 GB'
    }
    withName: STARSOLO {
        cpus = 8
        memory = '40 GB'
    }
    withName: SUMMARIZE {
        cpus = 1
        memory = '4 GB'
    }
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}
